/Build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/Makefile.am
/Makefile.bundle
/bin/
/cmake_install.cmake
/config.cache
/config.cache.pwd
/config.cache.source.list
/config.log
/config.pwd
/include/buildcfg.h
/dist/dunedynasty
/dist/data/*.pak
/objs/
/src/rev.c
/tags
*.swp
dist/data/*
!dist/data/FILELIST.TXT
dist/campaign/*
!dist/campaign/*/*.ini
dist/*.dll
dist/*.exe
dist/*.log
dist/*.cfg
dist/libs
dist/save
dist/soundfonts
dist/music/*/*.mp3
dist/music/*/*.flac
dist/music/*/*.zip
dist/music/*/*.cfg
dist/music/*/*.aud
.ninja_deps
.ninja_log
build.ninja
node_modules