Build/
CMakeCache.txt
CMakeFiles/
Makefile
Makefile.am
Makefile.bundle
bin/
cmake_install.cmake
config.cache
config.cache.pwd
config.cache.source.list
config.log
config.pwd
include/buildcfg.h
dist/
objs/
src/rev.c
tags
*.swp
static/general/data/*
!static/general/data/FILELIST.TXT
static/general/campaign/*
!static/general/campaign/*.INI-sample
!static/general/campaign/*
static/general/campaign/*/*
!static/general/campaign/*/*META.INI
!static/general/campaign/*/*HOUSE.INI
!static/general/campaign/*/*PROFILE.INI
static/general/*.dll
static/general/*.exe
static/general/*.log
static/general/*.cfg
static/general/libs
static/general/save
static/general/soundfonts
static/general/music/*/*.mp3
static/general/music/*/*.flac
static/general/music/*/*.zip
static/general/music/*/*.aud
.ninja_deps
.ninja_log
build.ninja
node_modules