[Desktop Entry]
Name=Dune Dynasty
GenericName=Real Time Strategy Game
Comment=Classic Dune II. Spiced Up.
Exec=dunedynasty
Icon=dunedynasty
Terminal=false
Type=Application
Categories=Game;StrategyGame;
