# rcblanke SC-55 addon
# Complete.
[volume]
ambient02	= 0.80  # Idle 1
ambient03	= 0.80  # Idle 2
ambient04	= 0.80  # Idle 3
ambient05	= 0.80  # Idle 4
ambient06	= 0.80  # Idle 5
ambient07	= 0.80  # Idle 6
ambient08	= 0.80  # Idle 7
ambient09	= 0.80  # Idle 8
ambient10	= 0.80  # Idle 9
ambient01	=-0.80  # Bonus
attack01 	= 0.80  # Attack 1
attack02 	= 0.80  # Attack 2
attack03 	= 0.80  # Attack 3
attack04 	= 0.80  # Attack 4
attack05 	= 0.80  # Attack 5
attack06 	= 0.80  # Attack 6
mentat_harkonnen 	= 0.80
mentat_atreides  	= 0.80
mentat_ordos     	= 0.80
victory_harkonnen	= 0.80
victory_atreides 	= 0.80
victory_ordos    	= 0.80
defeat_harkonnen 	= 0.80
defeat_atreides  	= 0.80
defeat_ordos     	= 0.80
ending_harkonnen 	= 0.80
ending_atreides  	= 0.80
ending_ordos     	= 0.80
westwood_logo    	= 0.80
intro            	= 0.80
title            	= 0.80
emperors_theme   	= 0.80
conquest_map     	= 0.80
credits          	= 0.80
