# Dune 2 The Maker Adlib addon
# Missing: End Game, Logos, Intro, Cutscene, Credits, (Bonus).
[volume]
peace1  	= 1.00  # Idle 4
peace2  	= 0.75  # Idle 1
peace3  	= 0.75  # Idle 9
peace4  	= 0.75  # Idle 3
peace5  	= 1.00  # Idle 2
peace6  	= 1.00  # Idle 8
peace7  	= 0.75  # Idle 7
peace8  	= 0.75  # Idle 6
peace9  	= 0.75  # Idle 5
attack1 	= 0.65  # Attack 6
attack2 	= 0.65  # Attack 4
attack3 	= 0.65  # Attack 2
attack4 	= 0.65  # Attack 5
attack5 	= 0.65  # Attack 1
attack6 	= 0.65  # Attack 3
mentath 	= 0.79  # Brief Harkonnen
mentata 	= 0.79  # Brief Atreides
mentato 	= 0.79  # Brief Ordos
win3    	= 0.92  # Win Harkonnen
win1    	= 0.92  # Win Atreides
win2    	= 0.92  # Win Ordos
lose2   	= 0.72  # Lose Harkonnen
lose1   	= 0.72  # Lose Atreides
lose3   	= 0.72  # Lose Ordos
menu    	= 1.0   # Menu
nextconq	= 0.87  # Conquest
