name: Windows x86 Build
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    permissions:
      actions: write
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW32
          update: true
          install: mingw-w64-i686-cmake mingw-w64-i686-gcc mingw-w64-i686-gdb mingw-w64-i686-allegro mingw-w64-i686-enet mingw-w64-i686-fluidsynth mingw-w64-i686-libmad

      - name: Build
        run: ./scripts/build-windows-x86.sh

      - name: Delete Old Artifacts
        uses: actions/github-script@v7
        id: artifact
        with:
          script: |
            const res = await github.rest.actions.listArtifactsForRepo({
                owner: context.repo.owner,
                repo: context.repo.repo,
            })

            res.data.artifacts
                .filter(({ name }) => name === 'dune-dynasty-${{ github.ref_name }}-windows-x86')
                .forEach(({ id }) => {
                  github.rest.actions.deleteArtifact({
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      artifact_id: id,
                  })
                })
                
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dune-dynasty-${{ github.ref_name }}-windows-x86
          path: dist
