name: Windows ARM64 Build
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-11-arm
    permissions:
      actions: write
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          msystem: CLANGARM64
          update: true
          install: mingw-w64-clang-aarch64-cmake mingw-w64-clang-aarch64-gcc mingw-w64-clang-aarch64-allegro mingw-w64-clang-aarch64-enet mingw-w64-clang-aarch64-fluidsynth mingw-w64-clang-aarch64-libmad mingw-w64-clang-aarch64-ntldd

      - name: Build
        run: ./scripts/build-windows-arm64.sh

      - name: Delete Old Artifacts
        uses: actions/github-script@v7
        id: artifact
        with:
          script: |
            const res = await github.rest.actions.listArtifactsForRepo({
                owner: context.repo.owner,
                repo: context.repo.repo,
            })

            res.data.artifacts
                .filter(({ name }) => name === '${{ github.ref_name }}-windows-arm64-build')
                .forEach(({ id }) => {
                  github.rest.actions.deleteArtifact({
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      artifact_id: id,
                  })
                })
                
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.ref_name }}-windows-arm64-build
          path: dist
